.tituloCadastro {
    color: green;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
}

.tituloLista {
    color: red;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}

.bi-trash-fill {
    margin-right: 15px;
}

#div-alert-message {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2%;
}