.tituloCadastro {
    color: green;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
}

.tituloSelect {
    color: blue;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}

.tituloLista {
    color: red;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}

#div-alert-message {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2%;
}